#mainbar {
	position: fixed;
	bottom:0;
	width:100%;
	z-index: 100;
	white-space: nowrap;

	#focusState {
		display: inline-block;
		position: absolute;
        display: none;
	}

    #userhistoryTrigger {
        width: 15%;
        display: none;
    }

	#navigation {
		padding:20px 20px;
		display: inline-block;
		width:50%;
		
		#href {
			width: 70%;
		}

		#submit {
			width: 15%;
		}
	}

	#deviceSettings {
		padding:20px 20px;
		display: inline-block;
		width:50%;
		
        text-align: right;
		select {
			//min-width:30%;
		}

        a#extensionButton {
            .guiElement();
            float: right;
            background: yellow;
            margin-left: 5px;

            span {
                position: relative;
                top: 3px;
                font-size: 24px;
            }
        }
	}
}

body.hasExtension {
    #extensionButton {
        display: none;
    }
}