@import "../v/reset.css";
a {
  color: black;
}
body {
  background: black;
  margin: 0;
  color: white;
}
#mainbar {
  position: fixed;
  top: 0;
  width: 100%;
}
#mainbar {
  background: gray;
  position: fixed;
  top: 0;
  width: 100%;
}
#mainbar #navigation {
  float: left;
}
#stage {
  margin-top: 23px;
  white-space: nowrap;
}
.device {
  border: 1px dotted gray;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
  -webkit-transition: height 0.5s, width 0.5s;
}
.device iframe {
  border-width: 0;
  border: 1px solid white;
  -webkit-transition: all 0.5s;
  -webkit-transform-origin: top left;
}
